/* Removes the body's default css to allow background color to reach edge of window */
* { 
    margin: 0;
    padding: 0;
  }

/* Sets background to Dark Blue */
#container {
    background: #1F2937;
}

/* Sets height of hero */
#container > div {
    min-height: 300px;
    padding: 0 10%;
}

/* Turns header into flexbox and other styling effects */
#header-bar {
    display: flex;
    min-height: 50px;
    font-size: 18px;
}

#header-bar div {
    flex: 1;
}

#link-container {
    display: flex;
}

#header-bar {
    padding: 10px;
}

#header-bar .links {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

#header-bar #logo {
    font-size: 24px;
    color: #F9FAF8;
}

#hero {
    display: flex;
}
#hero h1 {
    font-size: 48px;
    font-style: extra-bold;
    color: #f9FAF8;
}

#hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    flex: 1;
}










#section2 {
    background: #fff;
}

#section3 {
    background: #E5E7EB;
}

#section4 {
    background: #fff;
}

footer {
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}