/* Removes the body's default css to allow background color to reach edge of window */
* { 
    margin: 0;
    padding: 0;
  }

/* Sets background to Dark Blue */
#container {
    background: #1F2937;
}

/* Turns header into flexbox and other styling effects */
#header-bar {
    padding: 5px 10%;
    display: flex;
    min-height: 50px;
    font-size: 18px;
}

#link-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#header-bar .links {
    font-size: 18px;
    color: #E5E7EB;
}

#header-bar #logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 2;
}


/* ----------------------
Hero Section
---------------------- */

#hero {
    padding: 5% 10%;
    display: flex;
}

#hero h1 {
    font-size: 48px;
    font-style: extra-bold;
    color: #f9FAF8;
}

#hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    flex: 1;
}

.hero-section img {
    float: right;
}

#hero button {
    color: #fff;
    background: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    font-weight: bold;
}

/* ---------------------
Section 2  Image Bar
---------------------*/

#section2 {
    background: #fff;
    text-align: center;
    padding: 5% 10%;
}

#section2 h4 {
    padding: 25px 0px;
    font-size: 36px;
    font-style: extra-bold;
    color: #1F2937;
}

.img-bar {
    display: flex;
}

.img-bar div {
    flex: 1;
    color: #555;
}

.img-bar img {
    border: solid 2px;
    border-color: #3882F6;
    border-radius: 5%;
}

.img-bar p {
    max-width: 150px;
    margin: 0 auto;
}

/* ---------------------
Section 3  Quote
---------------------*/

#section3 {
    background: #E5E7EB;
    padding: 5% 10%;
}

#section3 .quote {
    margin: 0 auto;
    max-width: 75%;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

#section3 .credit {
    margin: 0 auto;
    text-align: right;
    max-width: 75%;
    font-weight: bold;
}

/* ---------------------
Section 4  Call to Action
---------------------*/

#section4 {
    background: #fff;
    padding: 5% 10%;
}

footer {
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}